* {
    background-color: hsla(0, 0%, 100%, 0.925);
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background: none;
}

div {
    background: none;
}

#header {

    max-width: 1250px;
    height: auto;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;

}

.head {
    margin: 0;
    display: flex;

    align-items: center;
}

.nav {
    padding-left: 500px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;



    color: #AAAAAB;



}

.nav a:hover {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
    color: hsla(0, 0%, 20%, 0.268);
    transform: 330;
}

.nav a {
    padding-left: 50px;
    text-decoration: none;
}

.nav-nav {
    margin-bottom: -8px;
}

.contener {
    position: absolute;
    margin-left: 100px;
    max-width: 1450px;

}




.text-one {
    padding-bottom: 50px;
    margin-top: 90px;
    position: relative;
    z-index: 2;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */


    color: #F78CB6;
}


.fone-one {
    margin-top: 100px;
    margin-left: 700px;
    position: relative;
    z-index: 0;


}

.fone-wto {
    position: absolute;

    right: 0vmax;

    margin-top: -50px;

    z-index: -1;


}

.text-two {
    padding-bottom: 50px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    /* or 116% */


    color: #56597A;
}

.text-thee {

    Font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    letter-spacing: 0.02em;

    color: #919299;
}

.botton {
    margin-top: 30px;
    position: relative;
    z-index: 2;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    /* identical to box height, or 150% */

    letter-spacing: 0.05em;

    color: #FFFFFF;
    filter: drop-shadow(10px 10px 20px rgba(250, 141, 184, 0.2));
    padding: 15px 30px;
    background-color: #F78CB6;
    height: 51px;
    width: 175px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    z-index: 3;
    position: relative;
}

.botton a {
    text-decoration: none;
    text-align: center;
    background-color: #F78CB6;
    color: #FFFFFF;

}

.fone-thee {
    position: relative;
    z-index: 2;
    margin-right: auto;
    width: 50px;
}

.contener-two {
    position: relative;
    /*  bottom: 1015px; */
    justify-content: center;
}

.one-wto {
    position: relative;
    z-index: 2;
}

.text-text {
    text-align: center;

    margin-top: -151px;
    position: relative;
    z-index: 0;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */


    color: #F78CB6;
}

.text-text-two {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
    /* identical to box height, or 138% */
    text-align: center;

    color: #56597A;
}

.contenet-two-two {
    margin-top: 35px;
    display: flex;
    margin-left: 70px;
}

.box-one {
    width: 270px;
    height: 307px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background: #FFF1F9;
    border-radius: 8px;
}

.box-img {
    margin-top: 58px;
    margin-left: 108px;
    background: #FFF1F9;
}

.text-box {
    margin-top: 28px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
    /* identical to box height, or 212% */
    text-align: center;
    background: #FFF1F9;
    color: #56597A;
}


.text-box-two {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    background: #FFF1F9;
    text-align: center;

    color: #919299;
}

.box-one-one {
    width: 270px;
    height: 344px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    background: #F78CB6;
    border-radius: 8px;
}

.box-img-one {
    background: #F78CB6;
    margin-top: 58px;
    margin-left: 108px;

}

.text-box-one {
    background: #F78CB6;
    margin-top: 28px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 72px;
    /* identical to box height, or 212% */
    text-align: center;

    color: #FFFFFF;
}

.text-box-two-one {
    background: #F78CB6;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;

    color: #FFFFFF;
}

.box-one-one a {

    padding-left: 92px;
    text-decoration: none;
    background: #F78CB6;
    text-align: center;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */


    color: #FFFFFF;

}

.a-href-box {
    margin-top: 35px;
    background: #F78CB6;
}

.cointener-thee {
    position: relative;
    display: flex;
    margin-top: 200px;


}

.cointener-text-four {
    margin-top: -120px;
    position: relative;
    margin-left: 50px;
    padding-top: 30px;

}

.fone-four {
    margin-left: 100px;
}

.text-one-two {
    padding-bottom: 10px;
    margin-top: 90px;
    position: relative;
    z-index: 2;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */


    color: #F78CB6;
}

.text-two-two {
    padding-bottom: 20px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    /* or 116% */


    color: #56597A;
}

.cointener-four {
    position: relative;
    display: flex;
    margin-top: 200px;

}

.cointener-text-five {
    margin-left: 100px;
}

.fone-five {
    margin-left: 70px;
}

.www {
    position: absolute;

    /* top: 150px; */
    right: 0%;
    margin-top: -50px;
    z-index: 2;
}

.fone-bloobs-ritht {
    position: relative;
    display: block;
    background-color: #F78CB6;
}

.cointener-sex {
    display: flex;

}

.fone-sex {
    position: relative;
    z-index: 2;
    margin-left: 150px;
    margin-top: -150px;
}

.cointener-sex-text {
    margin-top: -140px;

    margin-left: 100px;

}

.sex-text-one {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */
    padding-bottom: 25px;

    color: #F78CB6;
}

.sex-text-wto {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 62px;
    /* or 119% */
    padding-bottom: 25px;

    color: #56597A;
}

.sex-text-thee {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 35px;
    color: #919299;
}

.sex-text-four {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    /* identical to box height, or 114% */


    color: #56597A;
}

.sex-text-five {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */


    color: #ABABAB;
}

.cointener-seven {
    margin-top: 100px;
    display: flex;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: space-between;


}

.box-seven-one {
    margin-left: 25px;
}

.cointener-eite {
    display: flex;
    margin-left: 50px;
    margin-top: 150px;
}

.cointener-eite-text {
    margin-left: 130px;
}

.cointener-eite-text-one {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 72px;
    /* identical to box height, or 138% */
    text-align: center;

    color: #56597A;
}

.cointener-eite-text-two {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* or 160% */

    text-align: center;

    color: #919299;
}

.cointener-eite-form {
    margin-top: 40px;
    width: 706px;
    height: 82px;
    background-color: rgb(201, 187, 187);
    border-radius: 4px;
    filter: drop-shadow(20px 20px 40px rgba(205, 205, 205, 0.25));
}

.button-text {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-left: auto;
}

.cointener-nine {
    margin-top: 200px;
    background: none;
}

.cointener-nine {
    margin-top: 250px;
    background-image: url(./img/fone-six.png);
    background-position-y: 30px;
    background-repeat: no-repeat;
    background-position-x: -100px;
}


.About-as {
    position: relative;
    height: 400px;
    display: flex;
    margin-left: 100px;

}

.fest-text-one {
    position: relative;
    display: flex;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    /* identical to box height, or 83% */

    letter-spacing: 0.02em;

    color: #F78CB6;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.blake {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 83% */

    letter-spacing: 0.02em;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.second-text-one {
    margin-top: 40px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.02em;

    color: #919299;
}

.tree-text-one {
    margin-top: -5px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.02em;

    color: #919299;

}

.four-text-one {
    margin-top: 40px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.02em;

    color: #919299;
}

.five-icone {
    margin-top: 10px;

}

.five-icone-img {
    display: flex;
    margin-left: -11px;
    align-items: center;
}

.tree-text {
    padding-left: 310px;
}

.fest-text-two {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 32px;
    /* identical to box height, or 133% */
    padding-bottom: 37px;
    letter-spacing: 0.02em;

    color: #56597A;
}

.fest-text-tree {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    padding-bottom: 37px;
    letter-spacing: 0.02em;

    color: #56597A;
}

.fest-text-four {
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    padding-bottom: 37px;
    letter-spacing: 0.02em;

    color: #56597A;
}

.second-text-two {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.02em;
    padding-bottom: 37px;
    color: #919299;
}

.tree-text-two {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    padding-bottom: 37px;
    letter-spacing: 0.02em;

    color: #919299;
}

.four-text-two {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    padding-bottom: 37px;
    letter-spacing: 0.02em;

    color: #919299;
}

.five-text-two {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */
    padding-bottom: 37px;
    letter-spacing: 0.02em;

    color: #919299;
}

.ww {
    padding-bottom: 37px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 160% */

    letter-spacing: 0.02em;

    color: #919299;
}

.treee-text {
    padding-left: 150px;
    padding-bottom: 50px;
}

.four-text {
    padding-left: 150px;
}

.cointener-ten {
    background-color: #F78CB6;
    height: 55px;
}



.icina-ten {
    position: relative;
    float: left;
    margin-top: 14px;
    margin-left: 100px;


}

.text-ten {
    padding-top: 8px;
    font-family: 'Circular Std';
    font-style: normal;
    font-weight: 450;
    font-size: 14px;
    line-height: 30px;
    /* identical to box height, or 214% */
    margin-left: 10px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}